@import "../styles/fonts.scss";

.Modal {
    background-color: #ffffff;
    margin-top: 0vw;
    padding: 1.3vw 3vw;
    border-radius: 1vw;
    border-width: 0vw;
    font-family: "bm_jua";
    // opacity: 0.5;
    p {
        color: #ca55e1;
        font-size: 2vw;
        font-family: "bm_jua";
        font-weight: 700;
        margin: 0vw;
    }

    p.warning {
        color: #ff0000;
    }
    // width: 300px;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background-color: rebeccapurple;
    z-index: 100;
}

.Modal,
.Overlay {
    // left: 25vw;
    // top: 2vw;
    width: fit-content;
    margin: 0.3vw auto;
    // width: 50vw;
    height: fit-content;
    z-index: 100;
}
