.Socials {
    position: relative;
    // top: 70vw;
    // height: ;
    display: block;
    height: 4vw;
    .socialIcon1,
    .socialIcon2,
    .socialIcon3 {
        position: relative;
        $width: 4vw;
        $height: 4vw;
        // left: 100vw - $width;
        span {
            width: $width !important;
            height: $height !important;
        }
    }

    .socialIcon1 {
        left: 42vw;
    }

    .socialIcon2 {
        left: 47vw;
    }

    .socialIcon3 {
        left: 52vw;
    }
}
