.teams {
    color: white;
    flex: 1;
    position: relative;
    margin-top: 5vw;
    font-family: patron;
}

.profileimage {
    // width: 100px;
    height: 10vw;
    // border-radius: 50%;
    // position: relative;
}

.profilename {
    color: white;
    position: relative;
    top: 11vw;
    text-align: center;

    h4 {
        font-size: 1.4vw;
    }
}

.profiletitle {
    color: white;
    position: relative;
    top: -21vw;
    text-align: center;

    h4 {
        font-size: 1.3vw;
    }
}
