@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: badabb;
    src: url("/fonts/BADABB__.TTF");
    font-display: block;
}

@font-face {
    font-family: patron;
    src: url("/fonts/Patron.otf");
}

@font-face {
    font-family: digi;
    src: url("/fonts/DS-DIGI.TTF");
    font-display: block;
}

@font-face {
    font-family: monoid;
    src: url("/fonts/Monoid-Regular.ttf");
    font-display: block;
}

@layer utilities {
    /* https://stackoverflow.com/questions/3087360/cant-stop-animation-at-end-of-one-cycle */
    .animation_iteration_count_1 {
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    .animation-delay-2000 {
        animation-delay: 0.5s;
    }

    .animation-delay-4000 {
        animation-delay: 1s;
    }

    /* https://github.com/tailwindlabs/tailwindcss/issues/162 */
    @variants responsive {
        .text-shadow {
            text-shadow: 2px 2px 4px black;
        }
        .text-shadow-md {
            text-shadow: 4px 4px 8px black;
        }
        .text-shadow-lg {
            text-shadow: 1px -2px 1px black;
        }
        .text-shadow-none {
            text-shadow: none;
        }
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
    /* width: 1000px; */
}

body {
    position: relative;
    /* max-width: 1000px;
  margin: 0vw auto; */
    /* background-color:aqua; */
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@viewport {
    max-width: 1000px;
}
