@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: badabb;
    src: url("/fonts/BADABB__.TTF");
    font-display: block;
}

@font-face {
    font-family: patron;
    src: url("/fonts/Patron.otf");
}

@font-face {
    font-family: digi;
    src: url("/fonts/DS-DIGI.TTF");
    font-display: block;
}

@font-face {
    font-family: monoid;
    src: url("/fonts/Monoid-Regular.ttf");
    font-display: block;
}

@font-face {
    font-family: sfmono;
    src: url("/Patron-PersonalUse.otf");
    font-display: block;
}

@layer utilities {
    /* https://stackoverflow.com/questions/3087360/cant-stop-animation-at-end-of-one-cycle */
    .animation_iteration_count_1 {
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    .animation-delay-2000 {
        animation-delay: 0.5s;
    }

    .animation-delay-4000 {
        animation-delay: 1s;
    }

    /* https://github.com/tailwindlabs/tailwindcss/issues/162 */
    @variants responsive {
        .text-shadow {
            text-shadow: 2px 2px 4px black;
        }
        .text-shadow-md {
            text-shadow: 4px 4px 8px black;
        }
        .text-shadow-lg {
            text-shadow: 1px -2px 1px black;
        }
        .text-shadow-none {
            text-shadow: none;
        }
    }
}

@layer components {
    .text-2xl {
        word-break: break-all;
    }

    .text-sm {
        word-break: break-all;
    }

    .textFeliz {
        font-size: 36px;
    }

    .textFelizNormal {
        font-size: 42px;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
    /* width: 1000px; */
}

body {
    position: relative;
    /* max-width: 1000px;
  margin: 0vw auto; */
    /* background-color:aqua; */
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@viewport {
    max-width: 1000px;
}

.glow-on-hover {
    width: relative;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(62, 60, 60);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: rgb(23, 23, 23);
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
