@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://stackoverflow.com/questions/3087360/cant-stop-animation-at-end-of-one-cycle */
.animation_iteration_count_1 {
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@font-face {
    font-family: badabb;
    src: url("/fonts/BADABB__.TTF");
    font-display: block;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
    /* width: 1000px; */
}

body {
    position: relative;
    /* max-width: 1000px;
  margin: 0vw auto; */
    /* background-color:aqua; */
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@viewport {
    max-width: 1000px;
}
